<div class="container">
  <div class="row">
    <div class="col-md-9">
      <input type="text" [(ngModel)]="filterStatus">
      <br>
      <button type="button" class="btn btn-danger mt-2" (click)="onAddServer()">Add New Server</button>
      <hr>
      <h3>App Status: {{ appStatus | async }}</h3>
      <hr>
      <ul class="list-group">
        <li
          *ngFor="let server of servers | filter:filterStatus:'status' "
          [ngClass]="getStatusClasses(server)"
          class="list-group-item">
          <strong>{{ server.name | shorten:15:' ...' }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date:'fullDate' }}
          <span style="float: right"
                class="badge bg-dark">
            {{ server.status  }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
